---
---

@import 'foundation';
@include foundation-everything;

$color-1: #DAF7A6;
$color-2: #FFC300;
$color-3: #FF5733;
$color-4: #C70039;
$color-5: #900C3F;
$color-6: #581845;

html, body {
	overflow: hidden;
}

svg {
	width: 100vw;
	height: 100vh;
	background: $color-1;

	#circle {
		fill: $color-2;
	}

	#phone path {
		fill: white;
		stroke: #ddd;
	}

	#phone circle {
		fill: #f9f9f9;
		stroke: #ddd;
	}

	#ui-holder {
		fill: white;
		stroke: #ddd;
	}
}

#ui {
	background: #eee;
	width: 100%;
	height: 100%;
	padding: 12px;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
}

.tab {
	width: 100%;
	height:24px;
	background:#fff;
	margin-bottom: 3px;
	border-radius: 3px;
	padding: 6px;
	height:30px;
	line-height: 18px;
	font-size: .8rem;
	box-shadow: 0 1px 1px rgba(0,0,0,.2);

	&.hovered {
		background: yellow;
	}
}